<!DOCTYPE html>
<html lang="en">

<head>

    <title>Senate Starter Page</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/styles/styles.css">

</head>

<body class="bg-danger">

    <p id="source" class="d-none">https://api.propublica.org/congress/v1/113/house/members.json</p>

    <div class="bg-header container-fluid">
        <div class="container d-flex align-items-center">
            <header class="row d-flex align-items-center">
                <div class="col-12 col-sm-4 col-md-3">
                    <img src="assets/Logo1.jpg" class="logo img-thumbnail rounded-circle float-left" alt="logo.jpg">
                </div>

                <div class="col-12 col-sm-8 col-md-9">
                    <h1 class="display-1 font-weight-bold text-light">TGIF</h1>
                    <h2 class="text-muted text-black-50 font-weight-bold">Transparent Government In Fact</h2>
                </div>
            </header>
        </div>

        <div class="email container-fluid bg-danger">
            <div class="container text-right">
                <i class="fas fa-envelope" class="d-inline"></i>
                <a href="mailto:info@tgif.net">
                    info@tgif.net</a>
            </div>
        </div>

        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active bg-dark text-white" href="index.html">HOME</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active bg-dark text-white dropdown-toggle input-group-text" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CONGRESS 113</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="senate-data.html">Senate</a>
                        <a class="dropdown-item" href="house-data.html">House</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle bg-light input-group-text" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ATTENDANCE</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="senate_attendance-statistic.html">Senate</a>
                        <a class="dropdown-item" href="house_attendance-statistic.html">House</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active bg-dark text-white dropdown-toggle input-group-text" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">PARTY LOYALTY</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="senate_party-loyalty-statistic.html">Senate</a>
                        <a class="dropdown-item" href="house_party-loyalty-statistic.html">House</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <main id="statistic" class="container-fluid bg-light">
        <div class="container text-justify">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2>House-Attendance</h2>
                    <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.</p>

                    <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="text-left">House at a glance</h3>
                    <table id="4" class="table table-sm table-hover text-center">
                        <colgroup>
                            <col style="width:33.33%">
                            <col style="width:33.33%">
                            <col style="width:33.33%">
                        </colgroup>
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Party</th>
                                <th scope="col">Number of Reps</th>
                                <th scope="col">% Voted with Party*</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="party in parties" :class="party.partyName">
                                <td>{{party.partyName}}</td>
                                <td>{{party.noMember}}</td>
                                <td>{{party.vwp_avg}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-left"><small>*weighted average</small></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h3 class="text-left">Least Engaged (Bottom 10% Attendance)*</h3>
                    <table id="0" class="table table-sm table-hover text-center">
                        <colgroup>
                            <col style="width:33.33%">
                            <col style="width:33.33%">
                            <col style="width:33.33%">
                        </colgroup>
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name <button type="button" class="btn btn-sm bg-dark border-secondary btn-sort"><i id="0" class="fas fa-sort text-white"></i></button></th>
                                <th scope="col">Missed Votes <button type="button" class="btn btn-sm bg-dark border-secondary btn-sort"><i id="3" class="fas fa-sort text-white"></i></button></th>
                                <th scope="col">% Missed <button type="button" class="btn btn-sm bg-dark border-secondary btn-sort"><i id="4" class="fas fa-sort text-white"></i></button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="one in la">
                                <td>
                                    <a :href="one.url" class="text-decoration-none">
                                        {{one.fullname}}
                                    </a>
                                </td><!--
                                --><td>{{one.missed_votes}}</td><!--
                                --><td>{{one.missed_votes_pct.toFixed(1)}}%</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-left"><small>*ranking based on %</small></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="text-left">Most Engaged (Top 10% Attendance)*</h3>
                    <table id="1" class="table table-sm table-hover text-center">
                        <colgroup>
                            <col style="width:33.33%">
                            <col style="width:33.33%">
                            <col style="width:33.33%">
                        </colgroup>
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name <button type="button" class="btn btn-sm bg-dark border-secondary btn-sort"><i id="0" class="fas fa-sort text-white"></i></button></th>
                                <th scope="col">Missed Votes <button type="button" class="btn btn-sm bg-dark border-secondary btn-sort"><i id="3" class="fas fa-sort text-white"></i></button></th>
                                <th scope="col">% Missed <button type="button" class="btn btn-sm bg-dark border-secondary btn-sort"><i id="4" class="fas fa-sort text-white"></i></button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="one in ma">
                                <td>
                                    <a :href="one.url" class="text-decoration-none">
                                        {{one.fullname}}
                                    </a>
                                </td><!--
                                --><td>{{one.missed_votes}}</td><!--
                                --><td>{{one.missed_votes_pct.toFixed(1)}}%</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-left"><small>*ranking based on %</small></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer class="d-flex align-items-start justify-content-center">
        <small class="text-white font-weight-bold">&copy; TGIF | ALL RIGHTS RESERVED</small>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="assets/js/statistic.js"></script>

</body></html>